.password-strength-bar {
  height: 5px;
  background-color: gray;
  transition: width 0.5s ease;
  margin-top: 0.5rem;
}

.weak {
  background-color: red;
}

.moderate {
  background-color: yellow;
}

.strong {
  background-color: rgb(2, 205, 2);
}

.info {
  font-size: 0.8rem;
  text-align: left;
  margin: 0.5rem;
}
